* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
}

body {
    background-color: #1c2126;
    width: 100%;
}

.Note {
    display: flex;
    color: white;

    .Container {
        width: 85%;
        display: flex;
        flex-direction: column;
        color: #cdd3da;

        header {
            .Note--Details {
                padding: 10px 10px;

                .Note--Icon {
                    margin-right: 5px;
                }

                #Note--Title {
                    color: #cdd3da;
                }
            }

            .Divider {
                background-color: #343b44;
                height: 1px;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            padding: 30px 350px;
            height: 100%;

            * {
                margin-top: 5px;
            }

            input[type="checkbox"] {
                -ms-transform: scale(1.5);
                -moz-transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -o-transform: scale(1.5);
                transform: scale(1.5);
                margin: 10px 10px 5px 3px;
            }

            #Note--Area {
                height: 100%;

                textarea {
                    background-color: #1c2126;
                    border: none;
                    height: 100%;
                    width: 100%;
                    font-size: 16px;
                    overflow: hidden;
                    resize: none;
                    color: white;

                    &:focus {
                        outline: none;
                    }
                }

                ul {
                    list-style: disc;
                    margin-left: 30px;
                    padding: 0px;
                }

         

                em,
                strong {
                    color: #ff82b2;
                }

                h1, h2, h3, h4, h5, h6 {
                    margin-bottom: 15px;
                }

                h2,
                h3 {
                    color: #2e80f2;
                }

                h2 {
                    border-bottom: 3px #343b44 solid;
                }

                h4 {
                    color: #e5b567;
                }

                h5 {
                    color: #e83e3e;
                }
            }
        }
    }
}

[contenteditable] {
    outline: 0px solid transparent;
}
